<div class="jumbotron text-center">
  <h1>Recommnedations</h1>
</div>

<div *ngIf="loading" class="spinner text-center">
  <br><br>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div><br><br>
  Loading Recommendations
</div>

<div *ngIf="!loading" class="container">
  <div   class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let product of fetchedRecipe">
      <div class="card">
        <img class="card-img-top" src="//placehold.it/50" alt="Card image">
        <!-- the person here is actually a recipe or product -->
        <div class="card-body">
          {{product.productName}}
          <!-- <p class="card-text" style="color:grey">{{product._id}}</p> -->
        </div>
        <div class="card-body">
          <a (click)="click_handler(product._id)" class="btn btn-primary btn-block">View Product</a>
        </div>


      </div>
    </div>
  </div>
</div>
