<div class="jumbotron text-center">
  <h1>Order</h1>
</div>
<br><br>

<div *ngIf="loading" class="spinner text-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div><br><br>
  Loading Products
</div>

<div *ngIf="!loading" class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">Item</th>
            <!-- <th scope="col">Price</th>
            <th scope="col">Action</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart">
            <!-- <th scope="row">1</th> -->
            <td>{{item.product}}</td>
            <!-- <td>{{item.price}}</td>
            <td>buy, discard, view</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
