<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" style="padding:4em">

      <div class="card flex-row flex-wrap">
       <div class="card-header border-0">
           <img src="//placehold.it/350" alt="">
       </div>
       <div class="card-block px-2" style="margin: 2em">
           <h1 class="card-title">{{product.productName}}</h1>
           <h3 class="card-text">RM50.00  <s style="font-size:75%; color: grey;">RM200.00</s> </h3>
           <button  class="btn btn-outline-secondary" style="margin-top:10em;" disabled>Add to Card</button>
           <button class="btn btn-secondary" style="margin-left:1em; margin-top:10em" disabled>Buy Now</button>

       </div>
       <div class="w-100"></div>
       <div class="card-footer w-100 text-muted" style="margin-1em">
          <h3>details</h3>
          _id: {{product._id}}

          <!-- <br>rated by user:
          <br>user rating:
          <br>predicted rating: -->
       </div>
   </div>
    </div>
  </div>
</div>
